.weather-app {
  font-family: "Noto Sans HK", sans-serif;
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
  margin-top: 25px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 0;
  height: 100%;
  width: 100%;
}
.title {
  line-height: 20px;
  padding-top: 15px;
  border: 0;
  font-size: small;
  color: white;
  font-family: "Source Code Pro", monospace;
}
.form-inline {
  padding: 10px 0px;
}
.btn.btn-primary.mb-2 {
  border: 1px solid;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  transition: all 150ms ease-in-out;
}
.btn.btn-primary.mb-2:hover {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
.btn.btn-link {
  color: white;
  text-align: left;
  margin: auto 5px;
  text-decoration: underline;
}
.location {
  margin: 10px auto;
}
i.fa-map-marker-alt {
  font-size: 60px;
  display: block;
  color: white;
  text-align: left;
  margin-top: 7px;
}
.city {
  color: white;
  font-size: 13px;
}
.city strong {
  font-size: 35px;
  text-transform: capitalize;
}
.weather {
  margin: 20px auto;
}
.temperature {
  font-size: 70px;
  color: white;
  line-height: 60px;
  padding-top: 10px;
  display: inline;
}
.temperature.celsius,
.temperature.fahrenheit,
.temperature.dash {
  font-size: 16px;
  position: relative;
  top: -36px;
}
.temperature.celsius:hover,
.temperature.fahrenheit:hover {
  color: #b465da;
  cursor: pointer;
  text-decoration: underline;
}
.sky,
.humidityWind {
  line-height: 20px;
  text-align: left;
  margin-left: 5px;
  color: white;
  font-size: 13px;
}
.sky {
  font-size: 15px;
}
.sky::first-letter {
  text-transform: capitalize;
}
.forecast {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 25px;
  color: white;
}
.card.weekDay {
  border-radius: 10px;
  background-color: rgba(0, 0, 92, 0.2);
  border: 0;
  margin: 5px -10px;
  color: white;
  text-align: center;
  line-height: 50px;
  transition: all 200ms ease-in-out;
}
.card.weekDay:hover {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
.cardTemperature {
  font-size: 15px;
  color: #dcdcdc;
  font-weight: bold;
}
.maximumTemperature {
  color: white;
}
i.small {
  font-size: 40px;
}
i.fas.fa-sun,
i.fas.fa-cloud-sun,
i.fas.fa-cloud,
i.fas.fa-cloud-showers-heavy,
i.fas.fa-cloud-sun-rain,
i.fas.fa-bolt,
i.fas.fa-snowflake,
i.fas.fa-smog {
  font-size: 130px;
  display: block;
  color: white;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0;
}
i.fas.fa-sun.small,
i.fas.fa-cloud-sun.small,
i.fas.fa-cloud.small,
i.fas.fa-cloud-showers-heavy.small,
i.fas.fa-cloud-sun-rain.small,
i.fas.fa-bolt.small,
i.fas.fa-snowflake.small,
i.fas.fa-smog.small {
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}
.open-source-link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: small;
}
